<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.image? %>
        <%= image_tag @user.image.thumb30.url %>
      <% else %>
        <%= image_tag "/assets/default.png", :size => '30x30' %>
      <% end %>
      <%= @user.name %>,<%= @user.email %>
    </section>
  </aside>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <div class="container-fluid">
        <div class="row">
          <%= render @posts %> 
        </div>
      </div>  
        <%= paginate @posts %>
    <% end %>
</div>