<% provide(:title, @user.name) %>
<%
=begin%>
 <%= link_to "Post", my_posts_path, class: 'my_post', remote: true%>
<%= link_to "Order", my_orders_path, class: 'my_order', remote: true%>
<%= link_to "Response", my_responses_path, class: 'my_response', remote: true%> 
<%
=end%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.image? %>
        <%= image_tag @user.image.thumb30.url %>
      <% else %>
        <%= image_tag "/assets/default.png", :size => '30x30' %>
      <% end %>
      <%= @user.name %>,<%= @user.email %>
    </section>
  </aside>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <div class="container-fluid">
        <div class="row">
          <%= render @posts %> 
        </div>
      </div>  
        <%= paginate @posts %>
    <% end %>
    <% if @user.orders.any? %>
      <h3>Orders (<%= @user.orders.count %>)</h3>
      <div class="container-fluid">
        <div class="row">
          <%= render @orders %> 
        </div>
      </div>  
        <%= paginate @orders %>
    <% end %>
</div>